@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td,header,footer,nav,article,section{margin:0;padding:0}
header,footer,nav,article{display:block}
table{border-collapse:collapse;border-spacing:0}
img{border:0;vertical-align:top}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body{font:16px/1.5 Helvetica,Arial,sans-serif;overflow-x:hidden}
input,textarea,select,button{outline:0;resize:none;font:16px/1.5 Helvetica,Arial,sans-serif}
button{line-height:1.231;white-space:nowrap;vertical-align:middle;cursor:pointer}
strong{font-weight:800}
a{text-decoration:none;outline:0;cursor:pointer;color:#006a92;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-webkit-focus-ring-color:transparent}
a:hover{text-decoration:underline}
video,embed{vertical-align:top;max-width:100%}
video{background:#000}
.clear:after{content:'.';clear:both;display:block;height:0;visibility:hidden;line-height:0}
.clear{zoom:1}
html,body{height:100%}
body{background:#fff;-webkit-text-size-adjust:none;font-family:'微软雅黑'}
/*页面元素初始化结束*/
.Position_F{position:fixed}
.top{width:100%;height:49px;background:url('../img/top-bg.png') repeat-x}
.top .title{width:980px;margin:0 auto;height:100%;top:10px;position:relative;text-align:justify}
.apiMain{width:980px;margin:0 auto 20px auto;padding-bottom:20px}
.panel{float:left;font-size:inherit;width:190px;margin-top:10px;padding:10px;background:#fafafa;box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.33)}
.portal{font-weight:normal;padding:0 1.75em 0.25em 0.25em;cursor:default;border:none;font-size:0.75em;padding:10px 0 10px 0;text-align:center;line-height:32px;color:#333333;
font-size:15px;font-family:"微软雅黑";height:30px;border-bottom:1px solid #e9e9e9;overflow:hidden}
.content{float:left;line-height:1.5em;margin-top:10px;background-color:white;color:#626262;direction:ltr;width:720px;margin-left:30px}
.bodyContent{box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.33);margin-bottom:20px;padding:10px 15px}
.bodyContent h2{font-weight:800;padding:0 0 10px;border-bottom:1px solid #e5e5e5;font-size:16px;font-family:"微软雅黑";margin-bottom:20px;padding-left:10px}
.bodyContent .para_tit{font-weight:800;padding:6px;background:#eef4f8;color:#353735;font-size:14px;border-bottom:none;margin-top:10px;margin-bottom:10px}
.bodyContent .para_cont{line-height:23px;font-size:12px;margin-left:8px}
.para_table{border-collapse:collapse;border:solid 1px #BBC0C6;word-break:break-all;word-wrap:break-word;height:40px;text-align:left;background-color:#D8E5F1;color:#000;text-align:center;}
.para_table tr th{font-size:12px;color:#535353;border:solid 1px #BBC0C6;height:30px;line-height:30px;background:#f3f4f5;padding:0 6px 0 10px;text-align:center}
.para_table tr td{height:30px;font-size:12px;border:solid 1px #BBC0C6;padding:0 6px 0 12px;color:#535353;text-align:left}
.link-back2top{bottom:50px;height:32px;position:fixed;width:32px;z-index:3;right:50%;margin-right:-525px}
.link-back2top a{background:url(../img/bg_top.png) no-repeat scroll 13px center #D6D6D6;border-radius:32px 32px 32px 32px;display:block;font-size:0;height:32px;line-height:0;overflow:hidden;width:32px}
.link-back2top a:hover{background-color:#C62627}
