@charset "utf-8";
img{border:none; vertical-align:top; }
/*===============================  付款弹框样式  ==================================*/
#pay{display:none; width:1000px; height:500px}
.pay_center{margin:15px 15px; border:1px solid #000;height:480px;font-size:14px}
.pay_main{padding:0px 30px;height:400px}
.pay_main_info h3{height:60px; font-size:24px;line-height:60px;text-align:center}
.pay_main_info div{text-align:center;color:#000;text-align:left;line-height:25px}
.pay_main_info div span{margin:5px 25px 5px 8px}
.color_red{color:#f00}
.pay_main_content{border-top:1px solid #000;padding:20px 20px}
.pay_online{width:400px;float:left;height:300px}
.pay_online_radio{margin-left:20px;margin-top:10px;margin-bottom:40px;width:90px;cursor:pointer}
.pay_online_radio2{display:block}
.pay_online_radio2 span{margin-left:10px;margin-right:30px}
.pay_outline{float:right;height:300px}
.pay_outline_radio{margin-left:20px;margin-top:10px;margin-bottom:20px;width:90px;cursor:pointer}
.pay_outline div{margin-left:10px; border-radius:5px;width:350px; margin-top:15px}
.pay_online_2{display:none;border:1px solid #aaa;height:200px}
.pay_outline div p{text-align:left;margin-top:15px;height:20px}
.pay_outline div p span{display:inline-block;width:115px; text-align:right;float:left;padding-top:5px}
.pay_outline div p input{display:inline-block; float:left; margin-top:2px; margin-right:10px;height:20px}
.pay_outline div textarea{width:350px; height:50px; margin-top:20px; line-height:24px; color:#999; padding-left:18px}
.pay_button{height:80px;border-top:1px solid #000; text-align:center;line-height:80px}
.pay_button input{height:30px;border:none;font-size:16px;background:#393;border-radius:5px;padding:0 30px;color:#fff;cursor:pointer}
.pay_delete{display:none}
.tijiao_le{float:left; margin-left:20px; width:80px; margin-top:10px;cursor:pointer}
.tijiao_ri{float:right; margin-right:20px; width:80px;margin-top:10px;cursor:pointer}
.pay_til{font-size:15px}
.tuidan p span{width:300px !important;text-align:left !important}
.tuidan span label{cursor:pointer}
.tuidan span label input{margin-top:0px}
/*===============================  评论弹框样式  ==================================*/
#evaluateButton{}
.form-horizontal{float:left}
.fancybox-skin{padding:0px !important}
label{margin-right:15px}
.olumn{height:30px; line-height:30px; font-weight:bold; float:left; width:90%; padding:0 5%; background:#f2f2f2; margin-top:20px}
.eject_big{overflow:hidden;background:#fff}
.eject_back{height:490px; margin:0 auto;overflow:hidden}
.eject_title{border-bottom:2px solid #6eb92b; width:90%; padding:0 5%; float:left; font-family:Arial, Helvetica, sans-serif;font-weight:700; color:#333}
.eject_title h3{height:40px;line-height:40px;text-align:center; font-size:15px}
.eject_title p{font-size:14px}
.comment_line{overflow:hidden;margin-bottom:4px;height:18px}
.eject_content{padding:0px 40px;margin-top:5px}
.eject_content2{margin:0 auto;width:100%}
.eject-content_left{margin-left:40px;margin-top:10px}
.eject_content_right{width:600px;position:relative}
.eject_content2 h3{color:#333;font-size:14px;font-weight:700;padding-bottom:3px;border-bottom:1px solid #999}
.eject_content_left_s{position:relative}
.eject_content_left_s h3{font-size:14px; width:405px; margin-top:30px; margin-bottom:15px; font-family:"'微软雅黑',Tahoma,Geneva,sans-serif"}
.Picture_upload{width:402px; height:84px; float:left; border:1px solid #ccc}
.Picture_upload ul li{float:left; padding:5px 0}
.Picture_upload ul li img{width:74px; height:75px; margin-left:5px}
.eject_input_Slide{position:relative;width:440px}
.eject_input_Slide textarea{width:430px;line-height:18px; height:120px; border:1px solid #e4e4e4;resize:none; padding:5px}
.eject_input_Slide span{float:right}
.eject_input_Evaluation{margin-left:20px; position:relative}
.eject_input_Evaluation textarea{width:430px;line-height:18px; height:120px; border:1px solid #e4e4e4;resize:none; padding:5px}
.eject_addphoto{height:120px; background-color:#066; float:left}
.tset_2{top:30px !important}
.eject_content_left-x{width:680px; margin-left:20px; position:relative}
.eject_content_left-x h3{font-size:14px; width:405px; margin-top:15px; margin-bottom:15px; font-family:"'微软雅黑',Tahoma,Geneva,sans-serif";+font-weight:normal}
.eject_Satisfied ul{margin:10px 0}
.eject_Satisfied ul li{float:left; width:80px}
.expert_grade{position:absolute; top:0; left:465px; margin-top:10px;margin-bottom:10px;font-size:12px;color:#666;font-weight:400;margin-left:50px}
.expert_grade span{color:#f00}
.font_num_title{float:right; position:absolute; bottom:10px; right:10px}
.font_num_title span{float:none !important}
.font_num_title i{color:#666 !important}
.hidden_name{margin-right:25px;position:relative;padding-left:20px}
.hidden_name input{width:110px;height:14px;position:absolute;top:2px;left:-43px;cursor:pointer}
.eject_button{width:100%;padding-left:60px;margin-top:10px;margin-bottom:20px}
.commit{margin-right:50px; padding:0px 30px; margin-left:250px;background:#fff;font-size:13px;font-family:Arial, Helvetica, sans-serif;height:25px;margin-top:10px;border-radius:3px;border:1px solid #999;cursor:pointer}
.close{padding:4px 30px;background:#eee;font-size:13px;font-family:Arial, Helvetica, sans-serif;height:25px;margin-top:10px;border-radius:5px;border:1px solid #999;cursor:pointer}
.title_info_txt{width:160px;position:absolute;font-size:11px;color:#666;font-weight:400} 
.title_info_txt1{top:10px;right:-60px}
.title_info_txt2{top:40px;right:-60px}
.title_info_txt3{top:20px;right:-255px}
.title_info_txt3 p{color:#666 !important;font-weight:400 !important}
.title_info_txt span i{color:#666}
.eject_Satisfied{height:30px}
#demo{height:115px; float:left; margin-bottom:15px;margin-top:5px;position:relative; width:630px;  border:1px solid #e4e4e4}
.show_img{margin-top:10px;margin-left:20px; padding-top:10px; padding-left:5px}
.show_img p{font-size:12px; color:#000; font-weight:700}
.img_num{background:#7f7f7f; width:40px;text-align:center; color:#333; margin-top:3px}
.img_num i{color:#333}
.parentFileBox{width:355px !important}
.parentFileBox{float:left !important}
.eject_right_one{width:250px;float:left}
.eject_right_pj{width:68px; background-color:#96F; font-size:11px; float:left; text-align:right; padding-right:10px}
.eject_righ_Other{float:left; width:37px; height:17px; border:1px solid #ff9966; background-color:#FFF; color:#ff9966; text-align:center; line-height:17px; margin-left:8px}
.Load_photo{width:400px; height:80px;  background:#fff; float:left; margin-bottom:8px; display:block}
.eject_xx_box{height:20px;width:100%; position:relative; margin:10px auto 0 auto}
.eject_xx_box span{width:auto; height:20px; float:left; color:#797979; text-align:left; line-height:20px; margin-right:1px; font-size:12px; font-weight:400}
.eject_xx_box span.c{color:#ff6600; font-family:Verdana; }
.eject_xx_box li{width:20px; height:20px; float:left; cursor:pointer; display:inline; background:url(../img/page/star.png) no-repeat}
.eject_xx_box li.hove{background:url(../img/page/star.png) no-repeat 0 -28px; }
.eject_xx_box i,.eject_xx_box a{font-size:11px;color:#f93;font-weight:400;margin-left:15px}
.eject_right_SlideShow{width:68px; background-color:#000; text-align:center; line-height:24px; margin-top:30px; background-color:#FFF}
.ejers_sc{width:60px; height:30px; background-color:#f54}
.detail_shumu{float:left; border-right:1px solid #ebebeb; margin-left:15px; text-align:center;width:137px}
.detail_shumu span{color:#F00; padding-left:14px}
.Recommend_title{font-size:14px; color:#333}
.teristic_list li{width:100%; float:left; margin-top:20px; font-family:"宋体"; font-size:14px; color:#666}
.teristic_list li img{width:11px; height:11px; float:left; margin-top:4px; padding-right:5px}
.teristic_list li span{float:left; width:340px}
.xiala_Recommend{width:420px; height:56px; text-align:center;position:relative; overflow:hidden; float:left; }
.xiala_Recommend img{width:20px; height:10px; padding-top:20px;position:bottom:0; }
.teristic_list{overflow:hidden; height:220px}
.detailReferral_box{overflow:hidden; position:absolute; z-index:10; right:250px;background-color:#fbfbfb;margin-top:24px; }  
.Recommend{float:right; margin-top:-41px}
/*=========================取消订单弹框===================*/
.cancel_oreder_reason{height:auto !important}
.cancel_oreder_reason span{width:320px !important;text-align:left !important}
.cancel_oreder_reason span label{cursor:pointer}
.cancel_oreder_reason span label input{margin-top:0px !important;margin-right:10px !important}
.hidden_content{position:relative;margin-top:0px !important;display:none}
.hidden_content textarea{height:80px !important;color:#333 !important;margin-top:0px !important;padding:5px !important}
.hidden_content span{position:absolute;top:80px;right:0px;color:#999}
