@CHARSET "UTF-8";

/*公共部分*/

 body{ font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; line-height:150%; margin: 0; padding:0; color:#333;height:auto !important;}
 div{ padding:0; margin:0;word-break:break-all;}
 span,p{word-break:break-all;}
 h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,ol{margin:0; padding:0; border:none; list-style-type:none; font-family: '微软雅黑';font-weight:500 !important;}
 a{ text-decoration:none;color:#428bea;}
 em {FONT-STYLE: normal; FONT-WEIGHT: normal;font-family: Arial,Helvetica,sans-serif;}
 a:hover{ text-decoration:none}
 img { border:none;margin:0;}
 i,em { font-style:normal;margin:0 2px;}
 input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
 input,textarea,select { outline:none;border:1px solid #bbb;}
 ul { list-style: none;}
/* public */
.clear { zoom:1; clear:both; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
*{ box-sizing:border-box ;margin:0;padding:0;}

#page { overflow-y : hidden ;overflow-x : hidden ;}
body { overflow-y : auto ;overflow-x : auto ;}

/*======================头部======================*/
.navbar { height:40px;min-height:40px;position:relative;z-index:200;}
.navbar .navbar-inner { height:40px;min-height:40px !important;background-clip:padding-box;position:relative;background:#056DAB;font-family:"微软雅黑";}
.navbar-header a span { display:block;line-height:40px;padding-left:20px;text-align:center;color:#fff;font-size:18px;} 
.navbar-header a img { margin-top: 9px;}
.navbar-header div i { width:1px ;height:40px;margin-top:20px;background:url(../img/header_line.png) 0px 0px no-repeat;position:absolute;}
.header_right { float:right;min-width:300px;line-height: 40px;height: 40px;}
.user_photo { width:60px;height:60px;float:left;margin-right:15px;}
.user_photo img { width:60px;height:60px;border-radius:5px;cursor:pointer;}
.user_info { font-size:14px; color:#fff;}
.user_info p { line-height:40px;height:40px;}
.user_info>div { line-height:40px;height:40px;position:relative;display:inline-block;width:114px;vertical-align:top;float:right;}
.login_name { display:inline-block;line-height:40px;height:40px;vertical-align:top;cursor:pointer;}
.hide_box { display:none;position:absolute;left:0;top:40px;width:150px;background:#fff;border:1px solid #f1f1f1;}
.hide_box ul { width:100%;}
.hide_box ul li { text-align:center;line-height:40px;}
.hide_box ul li a { display:block;}
.hide_box ul li:hover { background:#eee;}
.user_info ul { padding-left:0px;float:left;list-style:none;}
.user_info ul li { font-family:"微软雅黑";}
.hide_static { display:none;position:absolute;z-index:999;background:#fff;width:80px;border:1px solid #ccc;text-align:center;left:0;top:25px;}
.hide_static li { margin:5px;}
.hide_static li:hover { background:#eee;}
.choose_static { cursor:pointer;position:relative;}
.choose_static span i { width:7px;height:4px;background:url(../img/custom_list_ico1.png) 0px 0px no-repeat;position:absolute;margin-left:10px;top:8px;}
.logout_img { margin-right:20%;margin-left:20px;position:relative;display:inline-block;width:30px;height:40px;float:right;}
.logout_img img { position:absolute;width:30px;height:30px;right:0;top:5px;cursor:pointer;}

/*======================左侧导航======================*/

.main_container { position:relative; min-width:1000px;padding:0px;}
.user_icon, .aside_inner dt b, .aside_inner .item_tip, .page_icon{background: url("../img/user_icon.png") no-repeat scroll 0% 0% transparent;}
.aside { width:160px;background: #eaedf1;position:absolute;left:0;top:0;z-index:1;height:auto;overflow-x:hidden !important;overflow-y:auto !important;}
.aside_inner { height:100%;}
.mc { height:auto;}
.aside_inner .user_icon { margin-right:20px;vertical-align:middle;}
.aside dl a{color:#333;display:block;}
.aside dl a:hover {color:#f60}
.aside_inner .mt { color:#FFF;height:38px;line-height:38px;padding:0 6px;position:relative;top:1px}
.aside_inner .mt h2 { float:left;height:auto;line-height:38px;padding-top:0;font-size:14px;margin-left:22px}
.aside_inner .mt h2 a{display:inline-block;line-height:28px;font-family:"微软雅黑";}
.cur { background:#3EAFE0;position:relative;border-left: 2px solid #3EAFE0 !important;}
.cur a { color:#fff !important;}

.aside_inner dl.last { background:none}
.aside_inner dl dt { cursor:pointer;line-height:32px;height:32px;padding-left: 36px;position:relative;color:#333; font-weight: normal !important;font-size:13px;background:#F5F5F5;}
.aside_inner dl dd { background:#fff;display:none;}
.aside_inner dt b { display:inline-block;width:7px;height:4px;background-position:-59px -29px;margin-left:5px;vertical-align:middle;position: absolute; right: 25px; top: 13px;}
.aside_inner dl .up b { background-position:-48px -29px}
.mc dt { border-bottom:1px solid #e0e0e0;}

.small_ico { width:16px;height:16px;position:absolute;background:url(../img/project.png) 0 0 no-repeat;left: 16px; top: 12px;background-size:16px;}
.mian_page { background:url(../img/main_page.png) 0 0 no-repeat;top: 10px;}
.user_nav .small_ico { display:none;}
.user_nav dt { padding-left:18px !important;}
.aside_inner dd .item { padding:0px 0 0px 40px;height:30px;line-height:30px;color:#737373;cursor:pointer;font-family:"tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif";font-size:12px;}

.right_ico { position:absolute;right:0;top:0;width:10px;height:100%;}
.right_ico span { position:absolute;right:0;top:50%;margin-top:-25px;height:50px;width:10px;background:#999;cursor:pointer;text-align:center;}
.right_ico span i { width:0;height:0;border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left:0;border-right: 6px solid #000;display:inline-block;position:relative;top:19px;}
.right_ico span.on i { border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-left: 6px solid #000;border-right:0;display:inline-block;}
.news_num { color:#f30;}

/*=====================右侧主体================*/ 
#main { width:100%;padding-left: 160px;}
.m_w { overflow-y:auto;}/**min-width:1040px;*/
.current_page{ font-size:12px;color:#999;height:26px;line-height:26px;background:#fff;padding-left:20px;}
.current_page a { font-size:12px;}
.main_page_link { color:#2dc3e8;padding-left:20px;position:relative;}
.main_page_link i { width:16px;height:16px;position:absolute;left:0;top:-3px;background:url(../img/home.png) 0 0 no-repeat;}
.right_jiantou { color:#ccc; padding:0px 5px; font-family: "icomoon"; display: inline-block; font-size: 10px; line-height: 14px;position: relative; top: -1px;}


.page-body { display: block;margin-left: 0;margin-right: 0; margin-top: 0; min-height: 100%; padding: 0; overflow-x:auto;   margin-top: 0px !important;box-shadow: unset;}
.table_td_border>tbody>tr>td { border:1px solid #e0e0e0 !important;}
.table_td_border>tbody>tr{height: 26px;}
.page_content { margin-top:5px;}
.page_content_detail { margin-top:0px;}
.bg_gray { background:#fff;float:left;width:100%;}
.table_content { padding: 0px 10px 20px 10px;}
.headline_txt { padding-top:10px;margin-bottom:10px;color:#f00;font-size:24px;}
h2.headline_txt { font-size:24px;}
h3.headline_txt { font-size:20px;} 
h4.headline_txt { font-size:18px;}
h5.headline_txt { font-size:16px;}
h6.headline_txt { font-size:14px;}
/*=====================搜索栏================*/

.search_form { position:relative;z-index:999;}
.search_form_box { min-width:800px;padding:10px 20px 0px 0;}	
.search_group { float:left;margin-right:10px;margin-bottom:10px;}
.search_group label { float:left;font-weight:normal;margin-right:2px;margin-bottom:0;display: inline-block; height: 23px; line-height: 23px;}
.search_input { float:left;width:180px;height:23px;line-height:23px;padding:0px 2px;box-sizing:content-box;
background: white;border:1px solid #bbb;}
.calender_ico { float:left;display:inline-block;width:34px;height:34px;position:relative;border:1px solid #ccc;background-color:#eee;border-right:none;}
.calender_ico i { width:16px;height:16px;position:absolute;left:9px;top:9px;background:url(../img/calender_ico.png) 0 0 no-repeat;}
.search_button { background:#da411f;width:60px;height:25px;margin-left:20px;padding:0px;border-radius:3px;color:#fff;border:none;text-align:center;cursor:pointer; }
.search_button:hover { background:#ef694b;}	
.form_select { float:left;margin-right:5px;}
.form_select .search_select { position:relative;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}	
.form_select .search_select .show_select { width:120px;height:25px;line-height:23px;padding:0px 2px;background:#fff;border:1px solid #D6D6D6;cursor:pointer;box-sizing:border-box;background: white;border-color: #bbb #bbb #bbb #bbb !important;}	
.form_select .search_select i { position:absolute; width: 7px; height: 4px; background: url(../img/custom_list_ico1.png) 0px 0px no-repeat; right:10px; top: 10px;z-index:125;}	
.form_select .search_select .select_list { border:1px solid #d5d5d5;background:#fff;border-top:0px;display:none;position:absolute;z-index:130;max-height:300px;overflow-x:hidden;overflow-y:auto;box-sizing:border-box;}
.form_select .search_select .select_list li { overflow:hidden;box-sizing:border-box;padding-left:8px;background:#fff;cursor:pointer;height:20px;line-height:20px;}	
.form_select .search_select .select_list li:hover { background:#bebebe;color:#fff;}	
.form_select .search_select .select_list li.select { background-color: #f3f3f3; color: #999;}
.w_40_p { width:40%;}
.w_20 { width:20px !important;text-align:center;}
.w_40 { width:40px !important;}
.w_100 { width:100px !important;}
.w_120 { width:120px !important;}
.w_140 { width:140px !important;}
.w_160 { width:160px !important;}
.w_180 { width:180px !important;}	
.w_200 { width:200px !important;}
.w_300 { width:300px !important;}
.w_350 { width:350px !important;}
.w_400 { width:400px !important;}
.w_450 { width:450px !important;}
.w_500 { width:500px !important;}
.w_600 { width:600px !important;}
.w_650 { width:650px !important;}
.w_700 { width:700px !important;}
.w_800 { width:800px !important;}
.w_1000 { width:1000px !important;margin:0 auto;}
.w_1200 { width:1200px !important;margin:0 auto;}
/*=====================tab切换================*/
.itab{height:29px; border-bottom:solid 1px #d0dee5; position:relative; border-left:solid 1px #d3dbde;    margin-bottom: 5px;}
.itab ul li{float:left;height:30px; line-height:30px; background:url(../img/itabbg.png) 0 0 repeat-x; border-right:solid 1px #d3dbde;font-family:"微软雅黑";}
.itab ul li a{font-size:13px; color:#000; padding-left:25px; padding-right:25px;display: inline-block;}
.itab ul li a.active{ height:37px; display:block; background:url(../img/itabbg1.png) 0 0 repeat-x; font-weight:bold;}

/*=====================表格================*/
table { border-spacing: 0; border-collapse: collapse;}
.table { width:100%;}
.table>thead.th-border>tr>th { border-right:1px solid #ddd;}
.tab_content { background-color: #fff; padding: 0px 10px 15px;position: relative;float:left;width:100%;}
.tab_content.tabs_flat { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.table_list { height:auto;}	
.h_100 { height:100px;}
.h_200 { height:200px;}
.table { background-color: #fff; margin-bottom: 0;}
.fc-border-separate thead tr, .table thead tr {
    background-color: #f2f2f2;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#fdfdfd 100%); 
    background-image: -moz-linear-gradient(top,#f5f5f5 0,#fdfdfd 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#fdfdfd 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#fdfdfd 100%); 
    font-size: 12px;
}
.table thead>tr>th { border-bottom: 3px solid #ed4e2a; border-bottom: 0; font-size: 12px; font-weight: normal; padding: 10px 0; background: #F1F1F1;font-family:"Microsoft YaHei";}
.table>thead>tr>th,.table>tbody>tr>td { text-align:left;padding:6px 3px; vertical-align: top; border-top: 1px solid #e0e0e0;font-family:tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;} 
td.control_td { position:relative;} 
.con_txt { display:inline-block;width:30px;position:absolute;left:0;top:-6px;height:30px;line-height:30px;cursor:pointer;}

.table thead.border>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd;}
.table.odd_bg>tbody>tr:nth-child(odd)>td { background:#f9f9f9;}
.table.even_bg>tbody>tr:nth-child(even)>td { background:#f9f9f9;}
.action_type { color:#428bea;}
.action_type:hover { text-decoration:underline !important;color:#2a6495 !important;}
.table-bordered { border: 1px solid #ddd;}
.table-bordered>tbody>tr>td { border: 1px solid #e0e0e0;}
.table tbody tr td { font-size:12px;}
.table tbody tr td span.btn { padding:4px 6px;}
.table tbody tr td a { display:inline-block;color:#09c !important;text-align: left;font-family:tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;}
#page_div {background:#fff;padding-bottom:15px;float:left;width:auto; }
#foot_page{float: left;width:100%;}
.pagesize_div{float:left;height:49px;margin-left:5px;}
.pagesize_div label input{height:26px;width:40px;padding:2px 2px;color:#666;}
.pagesize_div label span{color:#666;padding:0;}
.td_long a{float:left;}

/*=====================弹框================*/
.btn { border:none !important;padding: 6px 12px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer;-webkit-user-select: none;-moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px;
}
.btn { margin: 0; display: inline-block; color: #fff; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);box-shadow: 0 1px 0 rgba(0, 0, 0, .05); -webkit-transition: all .15s ease; -moz-transition: all .15s ease; -o-transition: all .15s ease;transition: all .15s ease;-webkit-border-radius: 2px; -webkit-background-clip: padding-box; -moz-border-radius: 2px; -moz-background-clip: padding; border-radius: 2px;}
/*.btn:hover { color:#444;}*/
.btn_green, .btn_green:focus { background-color: #69B716!important; border-color: #a0d468; color: #fff;}
.btn_green:hover{background-color: #a0d468!important;}
.btn_blue, .btn_blue:focus { background-color: #2dc3e8!important; border-color: #2dc3e8; color: #fff;}
.btn_blue:hover { background-color: #3ecdf1!important;}
.btn_yellow, .btn_yellow:focus { background-color: #ffce55!important; border-color: #ffce55; color: #fff;}
.btn_red, .btn_red:focus { background-color: #da411f!important; border-color: #da411f; color: #fff;}
.btn_gray, .btn_gray:focus { background-color: #aaa!important; border-color: #da411f; color: #fff;}
.btn_gray:hover { background-color: #ccc!important;}
.search_form .btn { padding:0 12px !important;margin-top:0 !important;height:25px;line-height:25px;}

.btn, .btn-default, .btn:focus, .btn-default:focus { color: #fff !important; background-color: #ccc; border-color: #ccc;}

div.add_btn { display:inline-block;padding:5px 15px;border:1px solid #ddd;border-radius:3px;cursor:pointer;}
div.add_btn:hover { opacity:.7;}

/*================列表排列===============*/

.left_title { width:105px !important;padding-right:5px;text-align:right;font-weight:normal;margin-left:-15px;background:#f8f8f8;font-family:"微软雅黑";*width:15%;}
.right_txt { padding:5px 10px;}
.product_base_info { border:1px solid #f2f2f2;border-color:#f2f2f2;margin:0;}
.product_base_info tr { *height:30px;}
.line_base_info tr { *height:40px;}
/*================注册表单===============*/
.table_form_content { border:1px solid #f2f2f2;border-color:#f2f2f2;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
-webkit-border-radius: 0!important; -webkit-background-clip: padding-box!important; -moz-border-radius: 0!important; -moz-background-clip: padding!important; border-radius: 0!important; background-clip: padding-box!important; color: #000000; background-color: #FFFFFF; border: 1px solid #bbb; font-family: inherit; -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out; -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out; -o-transition: box-shadow .45s, border-color .45s ease-in-out; transition: box-shadow .45s, border-color .45s ease-in-out; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[disabled="disabled"] { color:#aaa !important;background:#FFF !important;}
input[disabled="disabled"]:hover { background:#fff !important;}
.no-padding-right { padding-right: 0!important;}

.form_group .form_title { width:160px;text-align:right;height:34px;line-height:34px;margin-right:20px;color:#444;font-weight:normal;}
.table_form_content .form_title { background:#f8f8f8;}
.form_group .form_input { width:350px;display: inline-block;  height: 24px;line-height:24px; padding: 5px 8px;box-sizing: content-box;} 
.important_title { color:#f00;font-size:20px;top:5px;position:relative;font-weight:normal;}
.form_group .form_img { width:350px;height:200px;background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #333; display: block; font-size: 14px;line-height: 1.42857; padding: 5px 8px;margin:3px 0 3px 5px;}
.form_group .disabled { color:#aaa;}
.form_input[disabled], .form_input[readonly] { cursor: not-allowed; background-color: #fbfbfb; border-color: #e5e5e5;}
.form_group .form_textarea { width:350px;height:200px;display: block; font-size: 14px; padding: 5px 8px;margin:5px;box-sizing: content-box;}
.form_group .form_textarea.noresize { resize:none;}
.form_group select { font-size: 13px; color: #858585; background-color: #fbfbfb; border: 1px solid #bbb; padding: 5px 8px;height: 24px; line-height: 24px;}
.form_group input,.form_group select,.form_group textarea,.form_group span { margin-left:5px;}
.form_group td .title_txt { display:inline-block;color:#df5138;}
.table_form_content .form_input,.table_form_content .form_textarea { margin-top:3px;margin-bottom:3px;}
.form_btn { margin:30px 0 30px 0;}
.form_btn input,.form_btn button { margin-left:180px;float:left;}
/*================textarea 字数计算===============*/
.font_num { font-size:14px;color:#333;padding-right:10px;float:right;}
.font_num i { color:#f30;padding-right:5px;}

/*================ 行程安排 ===============*/
.travel_arrange { border:1px solid #f2f2f2;border-color:#f2f2f2;width:800px;}
.line_title { position:relative;padding-left:30px;text-align:left !important;}
.line_title p { float:left;width:650px;color:#333;font-size:16px;font-weight:600 !important;margin-top:10px;margin-bottom:10px;min-height:20px;}
.add_travel { font-size:14px;float:right;margin-right:20px;margin-top:4px;margin-bottom:4px;}
.travel_arrange .travelDay { border-top:1px solid #f2f2f2;}
.travelDay .form_group { width:100%;height:44px;line-height:44px;}
.travelDay .form_group input,.travelDay .form_group span,.travelDay .form_group textarea { margin-left:0;}
.travel_arrange .travelDay { text-align:right;}
.travel_arrange_content { margin:10px 0;font-size:13px;color:#444;} 
.travel_arrange_content tr { height:40px;}
.dayNum { font-size:14px;font-weight:700;}
.dayNum i { color:#f00;font-size:15px;}
.delete_travel_describe { background:#999;color:#fff;border-radius:3px;cursor:pointer;top:9px;right:-50px;position:absolute;width:40px;height:26px;text-align:center;line-height:26px;}

.travel_content_title { font-weight:700;width:100px;padding-right:15px;float:left;}
.travel_describe { width:550px;font-size: 14px; height: 24px;line-height:24px; padding: 5px 8px;border-color:#999 !important;margin-top:4px;}
.text_describe { width:650px;height:130px;border:1px solid #ccc;padding:5px 8px;text-align:left;margin-top:4px;}
.foot,.hotel { text-align:left !important;}
.foot { float:left;}
.foot div { float:left;margin-right:10px;}
.foot div label { float:left;width:54px; cursor: pointer;margin-bottom:0;}
.foot label input[type=checkbox],.foot label input[type=radio] { position: absolute; left: -9999px; z-index: 12;  width: 18px; height: 18px; cursor: pointer;}
.foot label input[type=checkbox]+.text { position: relative; z-index: 11; display: inline-block; margin: 0; line-height: 24px; min-height: 18px; min-width: 18px; font-weight: normal;margin-top:10px;}
.foot label input[type=checkbox]+.text span { width:20px;height:20px;position:relative;display: inline-block;border: 1px solid #c8c8c8;margin-right: 5px;vertical-align:bottom;}
.foot label input[type=checkbox]+.text i { position:absolute;width:20px;height:20px;background:url(../img/g1.png) 0 0 no-repeat;left:0;top:0;display:none;}
.foot label input[type=checkbox]+.checked span { border: 1px solid #333;}
.foot label input[type=checkbox]+.checked i { display:block;}
.foot input[type=text],.hotel input[type=text] { float:left;width:144px;font-size: 14px; height: 24px;line-height:24px; padding: 5px 8px;border-color:#999 !important;margin-top:3px;}

.img_main { position:relative; width: 180px; height: 160px; float:left; margin-right:30px;margin-top:20px;}
.float_div { height: 20px; line-height:20px; width: 12px; font-size: 24px; cursor: pointer;position: absolute; top:-15px;right:-10px; z-index: 100; color: #000; font-weight: 700; opacity: 0.2}
.input_field { position:relative;float:left;}


/*================ 颜色设置 ===============*/
.white { color:#fff!important}
.platinum { color:#e5e5e5!important}
.gray { color:#ccc!important}
.darkgray { color:#999!important}
.silver { color:#777!important}
.blue { color:#5db2ff!important}
.info { color:#57b5e3!important}
.sky { color:#11a9cc!important}
.blue { color:#6f85bf!important}
.green { color:#a0d468!important}
.success { color:#53a93f!important}
.green { color:#8cc474!important}
.lightyellow { color:#f6d52e!important}
.yellow {color:#ffce55!important}
.warning { color:#f4b400!important}
.gold { color:#f9b256!important}
.orange { color:#fb6e52!important}
.lightred { color:#e46f61!important}
.red { color:#df5138!important}
.pink { color:#e75b8d!important}
.danger { color:#d73d32!important}

/*================ 基础信息 ===============*/
.save_info { margin-left:auto;margin-right:auto;}
.choice_theme { margin-top:0 !important;}
.line_base_info .form_title { width:100px;*width:11%;}
.line_base_info {}

/*================ 订单详情 ===============*/
.order_detail { margin:18px 10px 0px 10px;min-width:780px;background:#fff;}
h2.lineName { text-align:center;margin-bottom:0;font-family:"微软雅黑";font-size:18px;font-weight:bold !important; color:#000 !important;}
.content_part { margin-top:17px;margin-bottom:17px;}
.content_part table { margin:10px 0;}
.small_title_txt { padding-bottom:5px;border-bottom:1px solid #ddd;}
.small_title_txt .txt_info { font-weight:normal;font-size:14px;padding-left:15px;font-family:"微软雅黑";}
.small_title_txt .order_time { padding-right:15px;}
.order_info_table { background:#fff;margin-top:10px;border:1px solid #e0e0e0;*max-width:1600px;}
.order_info_table tr td { padding-left:10px;font-size:12px;font-family:"tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif" !important;color:#000;border:1px solid #e0e0e0;}
.order_info_table tr td.order_info_title { padding-left:0;text-align:right;width:80px;color:#444;background:#f8f8f8;font-family:"微软雅黑";padding-right:5px;*width:10%;}
.export_action { margin:5px 0;}

/*================ 消息提示框 ===============*/
.tan { position: fixed; padding: 5px 20px 10px 20px; background: #5db2ff; color: #333; z-index: 11111; border-radius: 4px; box-sizing: border-box; font-family:"微软雅黑";cursor:pointer;}
.tan h4 { height:30px;line-height:30px;font-size:14px;font-weight:bold !important;}
.tan p { min-height:20px;font-size:13px;line-height:20px;text-align:left;margin-top:5px;color:#333;}

/*================ 滚动调样式 ===============*/
/*.nui-scroll { overflow:auto;}
.nui-scroll::-webkit-scrollbar {
	width:8px;
	height:8px
}
.nui-scroll::-webkit-scrollbar-track {
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0)
}
.nui-scroll::-webkit-scrollbar-track:hover {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
	background-color:rgba(0,0,0,.8)
}
.nui-scroll::-webkit-scrollbar-track:active {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
	background-color:rgba(0,0,0,.8)
}
.nui-scroll::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.8);
	border-radius:10px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.nui-scroll:hover::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.8);
	border-radius:10px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.nui-scroll::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0,0,0,.8);
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.nui-scroll::-webkit-scrollbar-thumb:active {
	background:rgba(0,0,0,.8)
}
.nui-scroll-hasShadow {
	box-shadow:0 0 2px rgba(0,0,0,.8)
}
.aside_inner.nui-scroll::-webkit-scrollbar-track {
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0)
}
.aside_inner.nui-scroll::-webkit-scrollbar-track:hover {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
	background-color:rgba(0,0,0,.3)
}
.aside_inner.nui-scroll::-webkit-scrollbar-track:active {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);
	background-color:rgba(0,0,0,.3)
}
.aside_inner.nui-scroll::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.3);
	border-radius:10px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.aside_inner.nui-scroll:hover::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.3);
	border-radius:10px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.aside_inner.nui-scroll::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0,0,0,.3);
	-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)
}
.aside_inner.nui-scroll::-webkit-scrollbar-thumb:active {
	background:rgba(0,0,0,.3)
}
.aside_inner.nui-scroll-hasShadow {
	box-shadow:0 0 2px rgba(0,0,0,.3)
}*/

/*********分页、无数据***********/

.no-data{height:40px;text-align:center;color:red;height:200px;line-height:200px;font-size:16px;}
/*********分页**********/
.page-box{text-align: right;margin-right: -3px;overflow: hidden;}
.page-button{margin-top:20px;height:30px;}
.page-button li{padding: 5px 12px;border: 1px solid rgb(221, 221, 221);cursor: pointer;margin-right: 2px;list-style-type: none;float: left;}
.page-button .active-page{background:#2DC3E8;color:#fff;cursor: inherit;}
.page-button .disable-page{background: #e9e9e9;cursor: inherit;border: 1px solid #ccc;}


.page-list{margin-top:20px;height:30px;}
.page-list li{border: 1px solid rgb(221, 221, 221);cursor: pointer;margin-right: 2px;list-style-type: none;float: left;}
.page-list .active{background:#2DC3E8;color:#fff;cursor: inherit;}
.page-list li a{padding: 4px 11px;display: inline-block;}

/*wlp* boost 日历样式 勿删除*/
.cancelBtn{ background: #cc3918;}
.pageBox{ text-align: center; padding: 20px 0}

/*wlp boost 去除table 隔行 灰色*/
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{ background: #fff; padding: 10px 0;}

/*wlp boost 公共样式 勿删除*/
.shadow{box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2); -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);}

.column{height: 100%; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -webkit-flex-flow: column; flex-flow: column; }

.boostBorder{border:1px solid #f9f9f9;}
.boostBottom20{ padding-bottom: 20px}
.boostBottom10{ padding-bottom: 10px}

.boostmarginBottom20{ margin-bottom: 20px;}

.boostBlue{border-top: 2px solid #2dc3e8;}

.boostCenter{ width:100%; text-align:center;}

/*====================进度状态栏========================*/
.status_box { padding:50px 60px 50px;}
.status_box ul li { float:left;width:210px;height:1px;background:#ddd;position:relative;}
.status_box ul li:first-child { width:20px;}
.status_box ul li span {  position:absolute;display:inline-block;font-family: '宋体 Regular', '宋体';font-weight: 400;font-style: normal;font-size: 12px;color: #E4E4E4;right:-45px;width:110px;text-align:center;}
.status_box ul li:first-child i { right:2px;}
.status_box ul li .time { top:-30px;}
.status_box ul li i { position:absolute;right:0;top:-10px;display:inline-block;width:18px;height:18px;border:1px solid #ddd;background:#fff;border-radius:50%;}
.status_box ul li .txt {bottom:-32px;}
.status_box ul li.on { background:#399;}
.status_box ul li.on i { border:1px solid #399;background:#399;}
.status_box ul li.on span { color:#000;}

/*====================额度申请========================*/
.form_con {padding:0px 5px;}
.limit_apply .order_info_table { margin-top:0;}
.limit_apply .order_info_table tr td input { padding:3px 5px;line-height:20px;}
.choose_title { padding:10px 100px;}
.choose_title input[type="checkbox"] { width:15px;height:15px;position:relative;top:2px;}

.xdsoft_datetimepicker { z-index:100000001 !important;}

.layui-layer-page .layui-layer-content { height:100%;}
.form-horizontal .form-group { margin:15px 10px !important;}

.form-horizontal .form-group .fg-title { width:15% !important;}
.form-horizontal .form-group .fg-input { width:81% !important;}

#loading{background:transparent url("../js/skin/default/loading-2.gif") no-repeat scroll 40% 60%;width:20%; height:160px;display: none;z-index:100; position:absolute;left:40%;}

.order_type1 { background:#57A6FB;}
.order_type2 { background:#fff;}
.order_type3 { background:#F5A9A9;}
.order_type1 td,.order_type1 td a { color:#333;}
.order_type2 td,.order_type2 td a { color:#333;}
.order_type3 td,.order_type3 td a { color:#333;}
.order_type1 td a,.order_type2 td a,.order_type3 td a { text-decoration:underline;}
.table_hover>tbody>tr.order_type1:hover { background:#57A6FB !important;}
.table_hover>tbody>tr.order_type2:hover { background:#fff !important;}
.table_hover>tbody>tr.order_type3:hover { background:#F5A9A9 !important;}
