@CHARSET "UTF-8";

/*公共部分*/

 body{ font: 13px/1.5 'Hiragino Sans GB',"宋体",sans-serif; line-height:150%; margin: 0; padding:0; color:#444;height:auto !important;}
 div{ padding:0; margin:0;word-break:break-all;}
 span,p{word-break:break-all;}
 h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,ol,p{margin:0; padding:0; border:none; list-style-type:none; font-family: 'Open Sans','Segoe UI';font-weight:500 !important;}
 a{ text-decoration:none}
 em {FONT-STYLE: normal; FONT-WEIGHT: normal;font-family: Arial,Helvetica,sans-serif;}
 a:hover{ text-decoration:none}
 img { border:none;margin:0;}
 i,em { font-style:normal;}
 input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
 input { outline:none;border:1px solid #d5d5d5;}
 
/* public */
.clear { zoom:1; clear:both; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }

 
/*======================左侧导航======================*/
 
.navbar { position:relative;z-index:200;}
.navbar .navbar-inner { background-clip:padding-box;position:relative;background:#2dc3e8;}
.navbar .navbar-inner .navbar-container { padding-left:10px;}
.navbar .navbar-brand { color: #fff; font-size: 24px; text-shadow: none; font-weight: 200; height: 45px;}
.main-container { position: static; min-width:1200px;padding:0px;}
.main-container>.page-container { position: relative;}
.page-sidebar { position: absolute; top: 0; left: 0; width: 160px; display: block;}
.page-sidebar .sidebar-menu { margin-left:5px;}
.page-sidebar .sidebar-menu li { display:block;position:relative;}
.page-sidebar .sidebar-menu li.current_nav:before { display:block;content:"";position:absolute;top:0;bottom:0;left:-4px;width:4px;max-width:4px;overflow:hidden;background-color:#2dc3e8;}
.page-sidebar .sidebar-menu>li>a { border-top:1px solid #f3f3f3;}
.page-sidebar .sidebar-menu>li>a:hover { border-color: #f3f3f3;background-color: #fbfbfb;}
.page-sidebar .sidebar-menu a { display: block; height: 38px; line-height: 36px; padding: 0 16px 0 7px; text-shadow: none!important; 
 font-size: 13px; text-decoration: none; color: #737373; z-index: 123;}
.page-sidebar .sidebar-menu a .menu-icon { display: inline-block; vertical-align: middle; min-width: 30px; text-align: center; font-size: 14px;
font-weight: normal; font-style: normal; margin-top: -3px;}
.page-sidebar .sidebar-menu li.open { background-color: #fff;} 
.page-sidebar .sidebar-menu>li.open>a { background-color: #fff;}
.page-sidebar .sidebar-menu>li:last-child>a { border-bottom: 1px solid #f3f3f3;}
.page-sidebar .sidebar-menu li.open>a { color: #262626;}
.page-sidebar .sidebar-menu li.open>a .menu-expand {  -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg);
-ms-transform: rotate(90deg); transform: rotate(90deg);}
.page-sidebar .sidebar-menu a .menu-expand { display: inline-block; position: absolute; font-size: 13px; line-height: 10px; height: 10px;
width: 10px;right: 0px; top: 15px; text-align: center; -webkit-text-shadow: none; text-shadow: none; color: #666; -webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; font-family: 'FontAwesome';} 
.page-sidebar .sidebar-menu li.open>.submenu { display: block !important;}
.page-sidebar .sidebar-menu>li>.submenu { background-color: #fbfbfb; -webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0
 -4px 4px -2px rgba(0, 0, 0, .15); -moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);}
.page-sidebar .sidebar-menu .submenu { display: none; position: relative; background-color: #fbfbfb; border-top: 0; z-index: 123;} 
.page-sidebar .sidebar-menu .submenu li { margin-left: 0; position: relative;} 
.page-sidebar .sidebar-menu .submenu>li>a { padding-left:23px;} 
.page-content { display: block; margin-left: 160px;min-height: 100%; margin-right: 0; margin-top: 0; padding: 0;min-width:800px;} 
.page-sidebar .sidebar-menu a:hover { color: #262626;}
.page-sidebar .sidebar-menu a:hover:before { display: block;} 
 
.navbar { margin-bottom:0px;}
body:before { content: "";display: block;position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: -1;background-color: #eee;} 
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, 
.container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, 
.btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, 
.nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, 
.pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
 display: table; content: " ";} 
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, 
.btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, 
.pager:after, .panel-body:after, .modal-footer:after { clear: both;} 
 
.page-sidebar{ background-color: #fff;-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);-index: 1;}
.page-sidebar .sidebar-menu a .menu-expand:before { content: "";}
.page-sidebar .sidebar-menu>li>.submenu:before { content: ""; display: block; position: absolute; z-index: 1; left: 15px; top: 0; bottom: 19px; border-left: 1px solid #e2e2e2;}
.page-sidebar .sidebar-menu>li>.submenu>li>a:before { content: ""; display: inline-block; position: absolute; width: 5px; height: 5px;
left: 13px; top: 17px; background-color: #fff; border: 1px solid #e2e2e2; z-index: 2;}
.page-sidebar .sidebar-menu .submenu li.active>a { color: #FFFFFF; background-color: #2dc3e8;}
.page-sidebar .sidebar-menu li.active>a { display: block; content: ""; color: #262626; background-color: #f5f5f5;}
.page-sidebar:before { content: ""; position: fixed; display: block; width: 155px; bottom: 0; top: 0; left: 5px;background-color: #fff;
-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2); -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2); box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);z-index: 1;} 
 
/*=====================右侧顶部导航================*/ 
.page-breadcrumbs { position: relative; background: #f3f3f3; min-height: 40px; line-height: 39px; display: block; z-index: 1;
-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15); -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.15); box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);}
.breadcrumb { background-color: transparent; display: inline-block; line-height: 24px; margin: 0 22px 0 12px;color: #333;} 
.breadcrumb>li, .breadcrumb>li.active { color: #777;}
.breadcrumb>li>i { margin-left: 4px; margin-right: 2px; font-size: 20px; position: relative; top: 2px;} 
.fa-home:before { content: "\f015";}
.breadcrumb>li:first-child>a { padding-left: 4px;}
.breadcrumb>li:first-child>a:hover { text-decoration:underline;}	
.breadcrumb>li>a { display: inline-block; color: #2dc3e8;}
.breadcrumb>li+li:before { color: #999;}
 
/*=====================右侧主体================*/ 
body:before { content: ""; display: block; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; background-color: #fbfbfb;}
.page-body { background: #eee; padding: 18px 20px 24px;}
.content_body { margin:12px;background-color: #fff; background-clip: padding-box;}

.page_content,.table_content { margin: 3px 0 30px 0;}
.headline_txt { margin-top:10px;margin-bottom:10px;color:#f00;font-size:24px;}
h2.headline_txt { font-size:24px;}
h3.headline_txt { font-size:20px;} 
h4.headline_txt { font-size:18px;}
h5.headline_txt { font-size:16px;}
h6.headline_txt { font-size:14px;}
/*=====================搜索栏================*/
.search_form_box { min-width:800px;}	
.search_group { float:left;margin-right:20px;margin-bottom:10px;}
.search_group label { float:left;font-weight:normal;margin-right:2px;margin-bottom:0;display: inline-block; height: 34px; line-height: 34px;}
.search_input { float:left;width:180px;height:34px;line-height:34px;padding:5px 8px;}
.calender_ico { float:left;padding: 6px 12px 7px 12px; font-size: 14px; font-weight: 400; color: #555; text-align: center; background-color: #eee; border: 1px solid #ccc;border-right:0; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
background-image: -webkit-linear-gradient(top, #eee 0, #fbfbfb 100%); background-image: -moz-linear-gradient(top, #eee 0, #fbfbfb 100%); background-image: -o-linear-gradient(top, #eee 0, #fbfbfb 100%); background-image: linear-gradient(to bottom, #eee 0, #fbfbfb 100%);}
.search_button { background:#da411f;width:60px;height:30px;margin-left:20px;padding:0px;border-radius:3px;color:#fff;border:none;text-align:center;}
.search_button:hover { background:#ef694b;}	
.form_select { float:left;position:relative;width:180px;}
.form_select .search_select { position:absolute;;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}	
.form_select .search_select .show_select { width:180px;height:34px;line-height:24px;padding:5px 8px;background:#fff;border:1px solid #d5d5d5;cursor:pointer;}	
.form_select .search_select i { position:absolute; width: 7px; height: 4px; background: url(../img/custom_list_ico1.png) 0px 0px no-repeat; right:10px; top: 15px;z-index:125;}	
.form_select .search_select .select_list { border:1px solid #d5d5d5;border-top:0px;display:none;position:relative;z-index:130;max-height:300px;overflow-x:hidden;overflow-y:auto;}
.form_select .search_select .select_list li { padding-left:8px;background:#fff;cursor:pointer;height:20px;line-height:20px;}	
.form_select .search_select .select_list li:hover { background:#bebebe;color:#fff;}	
.form_select .search_select .select_list li.select { background-color: #f3f3f3; color: #999;}
.w_100 { width:100px;}
.w_120 { width:120px;}
.w_140 { width:140px;}
.w_160 { width:160px;}
.w_180 { width:180px;}	
.w_200 { width:200px;}
/*=====================tab切换================*/
.tab_nav { -webkit-box-shadow: none;  -moz-box-shadow: none; box-shadow: none; background-color: rgba(0,0,0,0);}
	
.nav-tabs { margin-bottom: 0;  margin-left: 0; top: 2px; background-color: #eee; -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3); -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
box-shadow: 0 0 4px rgba(0,0,0,.3);}
.nav-tabs>li { margin-bottom: 0px;border:0 none;}	
.nav-tabs>li>a { border-radius:0;height:36px;}	
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus { color: #262626;border:0; border-top: 2px solid #2dc3e8; border-bottom-color: transparent;
background-color: #fbfbfb; z-index: 12; line-height: 16px; margin-top: -2px; box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);}
.nav-tabs>li:first-child>a { margin-left: 0; border-left: 1px solid #fbfbfb;}
.nav-tabs.tab_shadow { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background-color: rgba(0,0,0,0);}

.nav-tabs>li:first-child>a { margin-left: 0; border-left:none;}
.nav-tabs>li.active.tab_red>a { border-color: #df5138!important;}

/*=====================表格================*/
.tab_content { background-color: #fff; padding: 16px 12px; margin-top:-5px;position: relative; -webkit-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3); -moz-box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);box-shadow: 1px 0 10px 1px rgba(0,0,0,.3);}
.tab_content.tabs_flat { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-top: 1px solid #e5e5e5;}
.table_list { display:none;height:auto;}	
.h_100 { height:100px;}
.h_200 { height:200px;}
.table { background-color: #fff; margin-bottom: 0;}
.fc-border-separate thead tr, .table thead tr {
    background-color: #eee;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%); 
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: linear-gradient(to bottom,#f2f2f2 0,#fafafa 100%); 
    font-size: 12px;
}
.table>thead>tr>th,.table>tbody>tr>td { text-align:center;}  
.table thead>tr>th { border-bottom: 3px solid #ed4e2a;}
.table thead.border_orange>tr>th { border-bottom: 3px solid #ed4e2a;}
.table thead.border_success>tr>th { border-bottom: 3px solid #53a93f;}
.table thead.border_green>tr>th { border-bottom: 3px solid #8cc474;}
.table thead.border_lightyellow>tr>th { border-bottom: 3px solid #f6d52e;}
.table thead.border_yellow>tr>th { border-bottom: 3px solid #ffce55;}
.table thead.border_warning>tr>th { border-bottom: 3px solid #f4b400;}
.table thead.border_gold>tr>th { border-bottom: 3px solid #f9b256;}
.table thead.border_orange>tr>th { border-bottom: 3px solid #fb6e52;}
.table thead.border_lightred>tr>th { border-bottom: 3px solid #e46f61;}
.table thead.border_darkorange>tr>th { border-bottom: 3px solid #ed4e2a;}
.table thead.border_red>tr>th { border-bottom: 3px solid #df5138;}
.table thead.border_danger>tr>th { border-bottom: 3px solid #d73d32;}
.table thead.border_pink>tr>th { border-bottom: 3px solid #e75b8d;}
.table thead>tr>th { border-bottom: 0; font-size: 13px; font-weight: 600;}
.table thead.border>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd;}
.table_hover>tbody>tr:hover{ background-color:#e5e5e5!important}

.action_type { color:#428bea;}
.action_type:hover { text-decoration:underline;}

/*=====================弹框================*/
.btn_green, .btn_green:focus { background-color: #a0d468!important; border-color: #a0d468; color: #fff;}
.btn_blue, .btn_blue:focus { background-color: #2dc3e8!important; border-color: #2dc3e8; color: #fff;}
.btn, .btn-default, .btn:focus, .btn-default:focus { color: #444; background-color: #fff; border-color: #ccc;}
.btn { cursor: pointer; vertical-align: middle; margin: 0; position: relative; display: inline-block; color: #fff; -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05); -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);box-shadow: 0 1px 0 rgba(0, 0, 0, .05); -webkit-transition: all .15s ease; -moz-transition: all .15s ease; -o-transition: all .15s ease;transition: all .15s ease;-webkit-border-radius: 2px; -webkit-background-clip: padding-box; -moz-border-radius: 2px; -moz-background-clip: padding; border-radius: 2px; background-clip: padding-box; font-size: 13px;}

.bg_box { background: none repeat scroll 0 0 #000; display: none; height: 100%; left: 0; opacity: 0.7; position: fixed; top: 0; width: 100%; z-index: 10000;}
.box_content { position: fixed; background: none repeat scroll 0 0 #fff; top: 100px; left: 50%; z-index: 10001; font-size: 14px;display:none;}
.box_header{  padding: 10px 15px 10px 20px; background-color: #f5f5f5; font-weight: 300;font-size:18px; font-family: 'Open Sans', 'Segoe UI'; min-height: 16px; border-bottom: 1px solid #e5e5e5;}
.close_box { font-size:28px; float: right; font-weight: 700; color: #000; text-shadow: 0 1px 0 #fff; filter: alpha(opacity=20); opacity: 0.2;cursor:pointer;}
.close_box:hover { color:#000;opacity:0.5; filter: alpha(opacity=50);}
.box_body { position:relative;padding:15px;}
.alert_box_content .form_group { padding-bottom:15px;display:block;}
.alert_box_content .form_group .form_title { width:100px;}
.alert_box_content>tr>td { display:inline-block;}
.alert_box_content .btn { margin-right:150px;}
/*================列表排列===============*/
.content_body>tbody>tr { padding-bottom:15px;display:block;}
.left_title { float:left;width:110px;text-align:right;font-weight:700;margin-left:-15px;}
.right_txt { padding-left:15px;width:85%;min-height:20px;display:inline-block;}

/*================注册表单===============*/
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
-webkit-border-radius: 0!important; -webkit-background-clip: padding-box!important; -moz-border-radius: 0!important; -moz-background-clip: padding!important; border-radius: 0!important; background-clip: padding-box!important; color: #000000; background-color: #FFFFFF; border: 1px solid #d5d5d5; font-family: inherit; -webkit-transition: -webkit-box-shadow .45s, border-color .45s ease-in-out; -moz-transition: -moz-box-shadow .45s, border-color .45s ease-in-out; -o-transition: box-shadow .45s, border-color .45s ease-in-out; transition: box-shadow .45s, border-color .45s ease-in-out; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.no-padding-right { padding-right: 0!important;}
.table_form_content>tbody>tr { padding-bottom:15px; display:block;}
.form_group .form_title { width:155px;text-align:right;height:34px;line-height:34px;float:left;margin-right:20px;}
.form_group .form_input { width:350px;display: block; font-size: 14px; height: 34px;line-height:34px; padding: 6px 12px;} 
.form_group .title_txt { display:inline-block;}
.important_title { color:#f00;font-size:20px;top:5px;position:relative;}
.form_group .form_img { width:350px;height:200px;background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;color: #555; display: block; font-size: 14px;line-height: 1.42857; padding: 6px 12px;}
.form_group .disabled { color:#aaa;}
.form_input[disabled], .form_input[readonly] { cursor: not-allowed; background-color: #fbfbfb; border-color: #e5e5e5;}
.form_group .form_textarea { width:350px;height:200px;display: block; font-size: 14px; padding: 5px 10px;}
.form_group .form_textarea.noresize { resize:none;}
.form_group .btn { margin-top:20px;}

/*================textarea 字数计算===============*/
.font_num { font-size:14px;color:#666;padding-right:10px;}
.font_num i { color:#f30;padding-right:5px;}

/*================ 行程安排 ===============*/
.travel_arrange { width:80%;border:1px solid #ccc;}
.line_title { height:40px;line-height:40px;color:#333;font-size:16px;font-weight:600;padding-left:30px;}





