@charset "utf-8";
*{
    margin:0;
    padding:0;
    font-family:'微软雅黑';
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    
}
html,body{
	width:100%;
	font-size:16px;
}
ul li{ list-style: none; padding: 0px; margin: 0px;}
#wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
           flex-flow: column;
}
#header{
    text-align: center; background-color: #81a9c3; color: #fff;
    width: 100%;
}
#header h1{
    font-size: 20px; height: 44px; line-height: 44px; margin: 0em; color: #fff;
}
#main{
    -webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
    padding: 2em;
}
#footer{
    height: 30px; line-height: 30px;
    background-color: #81a9c3; 
    width: 100%;
    text-align: center;
}
#footer h5{
    color: white;
}
.con{font-size: 28px; text-align: center;}


/* CSS Document */
 /* 公共样式 */

 div{ padding:0; margin:0;}
 h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,ol,p{margin:0; padding:0; border:none; list-style-type:none;}
 a{ color:#000; text-decoration:none} 
 IMG {BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; margin:0; }
 EM {FONT-STYLE: normal; FONT-WEIGHT: normal;font-family: Arial,Helvetica,sans-serif;}
 A {COLOR: #333; TEXT-DECORATION: none}
 A:hover{ text-decoration:none}
img { border:none; }
 i,em { font-style:normal;}
 input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
 textarea { font-size:12px;}

/* public */
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }

.heading_top{background-color: #f4f6eb;}
.responsive { width: 1200px;  margin: 0 auto;z-index: 1;}
.responsive img{margin-bottom:-4px;} 
#station{height:115px;}
#station select{margin-top:40px;border:1px solid #ccc;width:80px;height:30px;line-height: 30px;margin-bottom: 3px;}
#station span{color:#ccc;margin-left:2px;}
.pos_a { position: absolute; z-index: 100 }
.pos_r { position: relative }
ul.item-fl > li { float: left }
ul.item_txt>li { margin: 4px auto; font-size: 14px ;padding: 1px 2px;cursor: pointer;width:60px;}
ul.item_txt { margin-top: 10px ;height: 60px;text-align:center;margin-left:15px;}
ul.item-mr10 > li { margin-right: 10px }
ul.item-ml10 > li { margin-left: 10px }
.bgcolor { background-color: #98a500; }
#bar_topnav { height: 25px; line-height: 25px;}
#item-currentsite:hover #list-site { display: block }
#list-site { border: solid 1px #ccc; border-top: none; background: #f4f6eb; width: 46px; display: none; padding: 3px 0px 3px 5px; margin-left: -5px }
#list-site li { height: 20px; line-height: 20px }
#zone-search, #logo { height: 115px; }
#logo { width: 230px }
#logo img{position:relative;top:25px;}
#bar-search { width: 470px }
#panel-contact { width: 160px }
#box-search, .search_ipt { width: 448px; line-height: 30px }
.search_icon { background: url(../img/gsearch-sprite.png)no-repeat 0 0; width: 30px; height: 30px }
#box-search { border: solid 1px #ffae00; line-height: 30px; position: relative; margin-top: 40px;margin-left:100px; }
#search_tags { margin-left: 50px }
#box-search input { border: none }
#box-search #icon-search { display: inline-block; width: 30px; height: 30px; background-color: #ffae00; top: 0px; right: -1px }
#icon-search { position: absolute ; border:1px solid #ffae00}
#search_tags { padding-top: 5px }
#search_tags li { border-left: solid 1px #9a9a9a; padding: 0 10px }
#search_tags li:first-child { border-left: none }
#panel-contact { color: #fff; padding: 5px; font-size: 16px; font-weight: normal; width: 143px; height: 60px; margin-top: 22px; text-align: center; position: relative; }
#panel-contact img { margin-top: 5px; display: inline-block; }
#panel-contact h3 { display: inline-block; position: relative; top: -4px;}
#panel-contact h4 { margin-top: 10px;}
#nav { height: 30px; line-height: 30px }
#item-nav-all { width: 230px; padding: 0px !important }
#item-nav-all:hover #nav-left { display: block }
#list-nav > li, #list-nav > li > a { color: #fff; font-size: 14px }
#list-nav .right_tab{
		 position:relative;
		 left:150px; 
		 cursor:pointer;
	 }
#list-nav > li { padding: 0 10px; }
#list-nav > li.current, #list-nav > li:hover { background-color: #aaba01;}
#nav-left { background: #fff; display: none; border-left: solid 1px #dcdcda; position: relative ; z-index: 9999;}
#nav-left dl { clear: both; overflow: hidden ;}
.city_txt a{background: url(../img/firstPage/ct.png)no-repeat 0px  0px;margin-left: 8px;background-color: #d4595e;}
.city_txt{margin-right: 10px;background-color: #d4595e;color: #fff;}
.icon_city{float: left;height: 60px;width: 30px;margin-right: 6px;margin-left: 6px;}
.icon_site{float: left;height: 16px;width: 18px;}
.icon_img_1{background: url(../img/firstPage/icon.png)no-repeat -80px  -50px;}
.icon_img_2{background: url(../img/firstPage/icon.png)no-repeat -110px -50px;}
.icon_img_3{background: url(../img/firstPage/icon.png)no-repeat -50px  -88px;}
.icon_img_4{background: url(../img/firstPage/icon.png)no-repeat -80px  -88px;}
.icon_img_5{background: url(../img/firstPage/icon.png)no-repeat -50px  0px;}
.icon_img_6{background: url(../img/firstPage/icon.png)no-repeat -80px  0px;}
.icon_img_7{background: url(../img/firstPage/icon.png)no-repeat -104px 0px;}
.icon_img_8{background: url(../img/firstPage/icon.png)no-repeat -50px  -50px;}
#nav-left dt a { color: #000 !important; font-weight: bold; font-size: 14px }
#nav-left dd a { color: #525252 !important }
#nav-left dd { float: left; margin-right: 10px }
.nav-left-item { border-bottom: solid 1px #dcdcda; border-right: solid 1px #dcdcda ;}
.nav-left-item dt{height: 20px;}
.nav-left-item dl{height: 50px;}
.nav-left-item:hover { border-right: none }
.nav-left-item:hover .nav-level2 { display: block }
.nav-level2 { position: absolute; left: 228px; top: 0px; background-color: #eee; display: none; border-right: solid 1px #dcdcda; border-bottom: solid 1px #dcdcda; width: 970px; height: 420px; padding: 5px 10px }
.nav-level2 dt { display: inline-block !important; float: left; width: 50px }

.boot{height: 100px;background-color: #8F9C00;position: relative;min-width:1400px;}
.boot_list li{position: relative;left: -50%;border-left: solid 1px #fff;margin-left: 10px;padding-left: 10px;}
.boot_list{position: absolute; left: 50%;top: 30%;}
.boot_list li a{color: #fff;}
#copyright a{color: #fff;}
#copyright{color: #fff;text-align:center;position: relative;top: 60%;}

html, body, .container { height: 100%; }
.container  { height: auto; min-height: 100%; }
.footer{clear: both;}
/* .main{padding-bottom:276px;} */

.tuidanborder{
    width:50%;
	height:600px;
	margin:auto;
	margin-top:200px;
	border:1px solid #000;
}
.tuidantitle{
    width:100%;
	height:80px;
	border-bottom:1px solid #000;
	text-align:center;
	line-height:80px;
	font-size:35px;
}
.tuidanliyou{
    width:100%;
	height:430px;
	text-align:left;
	overflow:auto;
	border:1px solid #000;
	font-size:20px;
}
.submitbutton{
    line-height:30px;
	text-align:center;
	height:30px;
	width:10%;
	border:1px solid #000;
	display:block;
	margin-top:20px;
	position:relative;
	left:10%;
	background:#e0e0e0;
}
.quxiaobutton{
    line-height:30px;
	text-align:center;
	height:30px;
	width:10%;
	border:1px solid #000;
	display:block;
	bottom:30px;
	position:relative;
	left:80%;
	background:#e0e0e0;
}
.all_order{
     background-color:#309000;
	 height:50px;
	 width:10%;
	 line-height:50px;
	 color:#fff;
	 text-align:center;
}

html, body{ background: #e1e1e1;}
.sj_box{/* height: 100%;*/ background: #fff; max-width:720px; margin: 0 auto; overflow: hidden; position: relative;}
.sj_title{ text-align: center; font-size: 16px; height: 40px; line-height: 40px; background:#03bdae;color: #fff;}
.cation_conment{ overflow: hidden;}
.cation_conment ul{ height:500px; overflow-y: scroll; clear: both; background: #ddd;}
.cation_conment li{ margin: 10px 0;}

.bangu{ overflow: hidden; text-align: left; line-height: 20px;}
.bangu img{ float: left;width: 40px; height: 40px;border-radius:50%;}
.bangu span{word-break:break-all;min-height:24px;position: relative;float: left;margin-left: 10px;max-width: 60%;line-height: 24px;padding-bottom: 5px;font-size: 16px;padding-left: 10px;padding-right;padding-top: 5px; 10px;background: url(../images/kuang.png);background-size: 100% 100%;}

.yonghu{ overflow: hidden; text-align: right; padding-right: 10px; line-height:20px;}
.yonghu img{ float: right; width: 40px; height: 40px;border-radius:50%;}
.yonghu span{min-height:24px;text-align:left;word-break:break-all;position: relative;float: right;margin-right: 10px;max-width:60%;padding-bottom: 5px;font-size: 16px;padding-left: 10px;padding-right: 10px;padding-top: 5px;background: url(../images/weixin.png);background-size: 100% 100%;}
.sj_unction{ background:#fff; height: 40px; width: 100%;line-height: 20px; margin-top: 5px; padding-left: 20px;}
.biaoqing{ overflow: hidden; float: left;}
.biaoqing img{ float: left;}
.biaoqing span{ float: left; line-height: 40px;}
.shangchuan{ overflow: hidden; padding-left: 30px; float: left;}
.shangchuan img{ float: left; margin-top: 10px; width: 20px; height: 20px;}
.shangchuan span{ float: left; line-height: 40px;}
.shangmen{ overflow: hidden; padding-left: 30px; float: left;}
.shangmen span{ float: left; line-height: 40px; color: #03bdae;}
.shangchuan i{ background:url("../images/kuang.png")}
.service_Type_box{ background:url(../images/service_Type_box.png); width: 100%; display: block;height:103px; float:left; margin-left:10px; margin-top:15px;}
.User_Use{ padding-left:20px; overflow:hidden; height:36px; background: #fff;box-shadow: 0px 1px 2px #666; position: relative;margin-left: -10px;}
.User_Use li{ float:left; padding-top:5px;}
.User_Use li span{ font-size:14px; line-height:24px; margin-right:30px;}
.User_Use li img{ float:left; margin-right:5px;}
.User_History{ flcation_conmentoat:right; height:20px; padding-top:5px; padding-right:20px;}
.User_History span{ float:left; line-height:24px; font-size:14px;}
.User_History img{ float:left; margin-right:3px; width:16px; height:16px; margin-top:5px;}
.service_Chat_le{ float:left; margin-top:20px; width:100%;}
.service_Chat_le span{ position:relative; background:#069; float:left; margin-left:10px; max-width:358px; line-height:24px; padding-bottom:5px;
 font-size:14px; padding-left:10px; padding-right:10px; padding-top:5px; background:url(../images/kuang.png); background-size:auto auto;}
.service_Chat_le img{ float:left; margin-left:10px; width:24px; height:32px;}
.service_Chat_le span i{ background:url(../images/jiao.png); width:12px; height:7px; position:absolute; left:-10px; float:left;}
.service_Chat_ri{ float:right; margin-top:20px; width:100%;}
.service_Chat_ri span{ position:relative; float:right; margin-right:10px; line-height:24px; padding-bottom:5px; padding-left:10px;
 padding-right:10px; max-width:358px; padding-top:5px; font-size:14px; background:url(../images/kuang.png); background-size:100% 100%;}
.service_Chat_ri img{ float:right; margin-right:10px; width:24px; height:32px;}
.service_Chat_ri span i{ background:url(../images/jiao2.png); width:12px; height:7px; position: absolute; right:-10px; float:right;}
.User_Use_btn{ overflow:hidden; padding-bottom:10px;}
.User_input{-webkit-tap-highlight-color:rgba(0, 0, 0, 0); width:65%; margin-left:5%;outline: none; border:none; padding-left:10px; line-height:30px; margin-top: 20px; border-radius: 3px; border: 1px solid #999; margin-bottom: 10px; min-height: 30px;}
.User_Use_btn label{ margin-right:20px; float:right; background:url(../images/Close.png); width:72px; font-size:14px; height:30px; text-align:center; line-height:30px; font-family:"微软雅黑";}
.User_Send{ margin-right:5%; float:right; background:url(../images/Send.png); width:52px; height:30px;outline: none; border:none; color:#fff; font-size:14px; font-family:"微软雅黑";position:relative;top:21px;}
.biaoqing_eject{ width: 100%; height:103px; position: absolute; background: #fff; bottom:0; left:0; display: none; border: 1px solid #999;}
.biaoqing_eject ul li{ float: left; margin: 5px;}